.App {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #fcfcfc;
    position: relative;
  }
  
  .person-icon {
    
    float: right;
    padding: 25px;
    font-size: 110px;
    vertical-align: middle;

  }