* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  border : "1";
}

a {
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.card {
  padding: 5px;
  border-bottom: 1px lightgray solid;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.tableCard {
  width: 60%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.profilePic {
  float: right;
  padding: 40px;
  width: 100px;
}

.propimage {
  width: 90%;
  align-self: center;
  padding: 10px;
}

.propGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.propCard {
  margin-left: 10px;
  max-width: 35%;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 3px;
  border: solid 1px grey;
  text-align: center;
}

#propCardPostcode {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}

#propCardAddress {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 5px;
}

.overlay-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  }

  .tag {
  position: absolute;
  right: 10px;
  }

